Claude/Claude Local RIse/n8n-workflow-followup.json
{
  "name": "LocalRise - Follow-up Automático de Propostas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Agenda - Dias Úteis 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Dispara automaticamente de segunda a sexta às 9h da manhã. Ajuste o cron conforme necessário."
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "SEU_SPREADSHEET_ID_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "CRM",
          "mode": "name"
        },
        "options": {
          "headerRow": 1
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Google Sheets - Ler CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SUBSTITUA_PELO_ID_DA_CREDENCIAL",
          "name": "Google Sheets - LocalRise"
        }
      },
      "notes": "Lê todas as linhas do CRM. Certifique-se de configurar a credencial OAuth2 do Google Sheets e inserir o Spreadsheet ID correto."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "filter-status",
              "leftValue": "={{ $json['Status'] }}",
              "rightValue": "Proposta Enviada",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Filtro - Status Proposta Enviada",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Filtra apenas leads com status exatamente igual a 'Proposta Enviada'. Leads com outros status são descartados aqui."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// =============================================================\n// LocalRise Advisory - Cálculo de Elegibilidade para Follow-up\n// =============================================================\n// Calcula quantos dias se passaram desde a Data Proposta\n// e marca o lead como elegível se >= 3 dias\n\nconst items = $input.all();\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nreturn items.map(item => {\n  const dataProposta = item.json['Data Proposta'];\n  let dataPropostaDate;\n\n  if (!dataProposta || dataProposta.toString().trim() === '') {\n    // Sem data registrada: não elegível, log de aviso\n    console.warn(`[LocalRise] Lead sem Data Proposta: ${item.json['Nome Negócio']}`);\n    return {\n      ...item,\n      json: {\n        ...item.json,\n        diasDesdeEnvio: -1,\n        elegivel: false,\n        motivoNaoElegivel: 'Data Proposta não preenchida'\n      }\n    };\n  }\n\n  // Suporta formatos: DD/MM/YYYY, DD-MM-YYYY e YYYY-MM-DD\n  const dataStr = dataProposta.toString().trim();\n  if (dataStr.match(/^\\d{2}[\\/\\-]\\d{2}[\\/\\-]\\d{4}$/)) {\n    const sep = dataStr.includes('/') ? '/' : '-';\n    const [dia, mes, ano] = dataStr.split(sep);\n    dataPropostaDate = new Date(parseInt(ano), parseInt(mes) - 1, parseInt(dia));\n  } else if (dataStr.match(/^\\d{4}-\\d{2}-\\d{2}/)) {\n    dataPropostaDate = new Date(dataStr);\n  } else {\n    // Tenta parsear qualquer outro formato\n    dataPropostaDate = new Date(dataStr);\n  }\n\n  if (isNaN(dataPropostaDate.getTime())) {\n    console.error(`[LocalRise] Data inválida para lead ${item.json['Nome Negócio']}: ${dataProposta}`);\n    return {\n      ...item,\n      json: {\n        ...item.json,\n        diasDesdeEnvio: -1,\n        elegivel: false,\n        motivoNaoElegivel: `Data inválida: ${dataProposta}`\n      }\n    };\n  }\n\n  dataPropostaDate.setHours(0, 0, 0, 0);\n  const diffMs = hoje.getTime() - dataPropostaDate.getTime();\n  const diasDesdeEnvio = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n  const elegivel = diasDesdeEnvio >= 3;\n\n  console.log(`[LocalRise] ${item.json['Nome Negócio']} | ${diasDesdeEnvio} dias | Elegível: ${elegivel}`);\n\n  return {\n    ...item,\n    json: {\n      ...item.json,\n      diasDesdeEnvio,\n      elegivel,\n      motivoNaoElegivel: elegivel ? null : `Apenas ${diasDesdeEnvio} dia(s) desde o envio`\n    }\n  };\n});"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Calcular Dias Desde Proposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "Calcula a diferença em dias entre hoje e a Data Proposta. Adiciona os campos 'diasDesdeEnvio' e 'elegivel' a cada item. Suporta datas nos formatos DD/MM/YYYY, DD-MM-YYYY e YYYY-MM-DD."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-elegivel",
              "leftValue": "={{ $json.elegivel }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "SE - Passou 3 Dias?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Branch TRUE: lead elegível para follow-up (>=3 dias). Branch FALSE: lead ainda não atingiu o prazo."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// =============================================================\n// LocalRise Advisory - Formatação da Mensagem de Follow-up\n// =============================================================\n\nconst item = $input.first().json;\n\n// Emojis de prioridade\nconst prioridadeEmoji = {\n  'Alta': '🔴',\n  'Média': '🟡',\n  'Baixa': '🟢'\n}[item['Prioridade']] || '⚪';\n\n// Formata nota do Google com estrelas\nconst nota = parseFloat(item['Nota Google'] || 0);\nconst estrelas = nota > 0 ? `${nota} ⭐` : 'Sem avaliação';\n\n// Urgência baseada em quantos dias passaram\nlet urgencia = '';\nif (item.diasDesdeEnvio >= 7) {\n  urgencia = '⚠️ *URGENTE - +7 dias sem resposta!*\\n';\n} else if (item.diasDesdeEnvio >= 5) {\n  urgencia = '🚨 *ATENÇÃO - +5 dias sem resposta*\\n';\n}\n\nconst mensagem = `${urgencia}🔔 *FOLLOW-UP NECESSÁRIO*\n━━━━━━━━━━━━━━━━━━━━━\n🏢 *${item['Nome Negócio'] || 'N/A'}*\n${prioridadeEmoji} Prioridade: *${item['Prioridade'] || 'N/A'}*\n\n📞 Telefone: ${item['Telefone'] || 'Não informado'}\n🌐 Site: ${item['Site'] || 'Não informado'}\n📸 Instagram: ${item['Instagram'] || 'Não informado'}\n\n📊 *Perfil Google:*\n   • Nota: ${estrelas}\n   • Reviews: ${item['Qtd Reviews'] || '0'}\n\n📅 Proposta enviada em: ${item['Data Proposta'] || 'N/A'}\n⏰ Dias sem resposta: *${item.diasDesdeEnvio} dias*\n\n✅ *Status será atualizado para: Follow-up 1*\n━━━━━━━━━━━━━━━━━━━━━\n_LocalRise Advisory • CRM Automático_`;\n\nreturn [{\n  json: {\n    ...item,\n    mensagemFormatada: mensagem,\n    rowId: item['ID']\n  }\n}];"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Formatar Mensagem de Notificação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 180],
      "notes": "Formata a mensagem de notificação com todos os dados do lead. Inclui alertas de urgência para leads com +5 ou +7 dias sem resposta."
    },
    {
      "parameters": {
        "chatId": "SEU_CHAT_ID_OU_GRUPO_TELEGRAM",
        "text": "={{ $json.mensagemFormatada }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Telegram - Notificar Equipe",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1560, 180],
      "credentials": {
        "telegramApi": {
          "id": "SUBSTITUA_PELO_ID_DA_CREDENCIAL_TELEGRAM",
          "name": "Telegram Bot - LocalRise"
        }
      },
      "notes": "Envia a notificação via Telegram. Configure: (1) Crie um bot com @BotFather, (2) Adicione o bot ao grupo/canal, (3) Obtenha o Chat ID, (4) Configure a credencial no N8N."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "SEU_SPREADSHEET_ID_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "CRM",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Follow-up 1"
          },
          "matchingColumns": ["ID"],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Google Sheets - Atualizar para Follow-up 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1780, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SUBSTITUA_PELO_ID_DA_CREDENCIAL",
          "name": "Google Sheets - LocalRise"
        }
      },
      "notes": "Atualiza o Status do lead para 'Follow-up 1' usando o campo ID como chave de correspondência. IMPORTANTE: O campo ID deve estar preenchido no CRM."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Log para auditoria de leads ainda não elegíveis\nconst items = $input.all();\n\nif (items.length === 0) {\n  console.log('[LocalRise] Nenhum lead aguardando período de follow-up hoje.');\n  return [];\n}\n\nconsole.log(`[LocalRise] ${items.length} lead(s) ainda no período de espera:`);\nitems.forEach(item => {\n  console.log(`  - ${item.json['Nome Negócio']}: ${item.json.diasDesdeEnvio >= 0 ? item.json.diasDesdeEnvio + ' dia(s)' : item.json.motivoNaoElegivel}`);\n});\n\nreturn items;"
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Log - Leads Aguardando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 440],
      "notes": "Branch FALSE do IF. Registra no log de execução quais leads ainda não atingiram os 3 dias. Útil para auditoria e debug."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// =============================================================\n// LocalRise Advisory - Resumo da Execução\n// =============================================================\n// Este node consolida o resultado após a atualização do Sheets\n\nconst item = $input.first().json;\n\nconsole.log(`[LocalRise] ✅ Follow-up processado com sucesso:`);\nconsole.log(`  - Lead: ${item['Nome Negócio']}`);\nconsole.log(`  - Dias desde proposta: ${item.diasDesdeEnvio}`);\nconsole.log(`  - Status atualizado para: Follow-up 1`);\nconsole.log(`  - Timestamp: ${new Date().toISOString()}`);\n\nreturn [{ json: { ...item, processadoEm: new Date().toISOString(), novoStatus: 'Follow-up 1' } }];"
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Log - Follow-up Processado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 180],
      "notes": "Confirma e registra no log que o follow-up foi processado com sucesso. Útil para auditoria."
    }
  ],
  "connections": {
    "Agenda - Dias Úteis 9h": {
      "main": [
        [
          {
            "node": "Google Sheets - Ler CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Ler CRM": {
      "main": [
        [
          {
            "node": "Filtro - Status Proposta Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro - Status Proposta Enviada": {
      "main": [
        [
          {
            "node": "Calcular Dias Desde Proposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Dias Desde Proposta": {
      "main": [
        [
          {
            "node": "SE - Passou 3 Dias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE - Passou 3 Dias?": {
      "main": [
        [
          {
            "node": "Formatar Mensagem de Notificação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Leads Aguardando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Mensagem de Notificação": {
      "main": [
        [
          {
            "node": "Telegram - Notificar Equipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Notificar Equipe": {
      "main": [
        [
          {
            "node": "Google Sheets - Atualizar para Follow-up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Atualizar para Follow-up 1": {
      "main": [
        [
          {
            "node": "Log - Follow-up Processado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "tags": [
    { "name": "localrise" },
    { "name": "follow-up" },
    { "name": "crm" },
    { "name": "automacao" }
  ],
  "triggerCount": 0,
  "id": "localrise-followup-v1"
}
