Claude/Claude Local RIse/n8n-workflows/1-ga4-to-supabase.json
{
  "name": "LocalRise — GA4 → Supabase (metrics_site)",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Dia 1 do Mês",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 1 * *" }]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Buscar Integrações GA4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "https://tfzjyttvymojsgvifxlk.supabase.co/rest/v1/client_integrations?select=client_id,ga4_property_id&ga4_property_id=not.is.null",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$credentials.value}}" },
            { "name": "Authorization", "value": "=Bearer {{$credentials.value}}" }
          ]
        }
      },
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-key", "name": "Supabase Service Key" } }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Loop por Cliente",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Calcular Mês Anterior",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const now = new Date();\nconst ano = now.getMonth() === 0 ? now.getFullYear() - 1 : now.getFullYear();\nconst mes = now.getMonth() === 0 ? 12 : now.getMonth();\nconst start = new Date(ano, mes - 1, 1);\nconst end = new Date(ano, mes, 0);\nconst fmt = d => d.toISOString().split('T')[0].replace(/-/g, '');\nreturn [{\n  json: {\n    ...items[0].json,\n    mes,\n    ano,\n    startDate: fmt(start),\n    endDate: fmt(end)\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "GA4 API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{$json.ga4_property_id}}:runReport",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "dateRanges": [{ "startDate": "={{$json.startDate}}", "endDate": "={{$json.endDate}}" }],
          "metrics": [
            { "name": "sessions" },
            { "name": "totalUsers" },
            { "name": "screenPageViews" },
            { "name": "bounceRate" },
            { "name": "averageSessionDuration" }
          ]
        }
      },
      "credentials": { "googleApi": { "id": "google-oauth", "name": "Google OAuth2" } }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Transformar Dados Site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const prev = $('Calcular Mês Anterior').first().json;\nconst row = items[0].json.rows?.[0]?.metricValues || [];\nconst v = i => parseFloat(row[i]?.value || '0') || null;\nreturn [{\n  json: {\n    client_id: prev.client_id,\n    mes: prev.mes,\n    ano: prev.ano,\n    sessoes: v(0),\n    usuarios: v(1),\n    pageviews: v(2),\n    taxa_rejeicao: v(3) ? parseFloat((v(3) * 100).toFixed(2)) : null,\n    duracao_media_seg: v(4) ? Math.round(v(4)) : null\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Upsert metrics_site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "https://tfzjyttvymojsgvifxlk.supabase.co/rest/v1/metrics_site",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$credentials.value}}" },
            { "name": "Authorization", "value": "=Bearer {{$credentials.value}}" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{JSON.stringify($json)}}"
      },
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-key", "name": "Supabase Service Key" } }
    }
  ],
  "connections": {
    "Dia 1 do Mês": { "main": [[{ "node": "Buscar Integrações GA4", "type": "main", "index": 0 }]] },
    "Buscar Integrações GA4": { "main": [[{ "node": "Loop por Cliente", "type": "main", "index": 0 }]] },
    "Loop por Cliente": { "main": [[{ "node": "Calcular Mês Anterior", "type": "main", "index": 0 }]] },
    "Calcular Mês Anterior": { "main": [[{ "node": "GA4 API", "type": "main", "index": 0 }]] },
    "GA4 API": { "main": [[{ "node": "Transformar Dados Site", "type": "main", "index": 0 }]] },
    "Transformar Dados Site": { "main": [[{ "node": "Upsert metrics_site", "type": "main", "index": 0 }]] },
    "Upsert metrics_site": { "main": [[{ "node": "Loop por Cliente", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
