Claude/Claude Local RIse/n8n-workflows/3-instagram-to-supabase.json
{
  "name": "LocalRise — Instagram → Supabase (metrics_instagram)",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Dia 1 do Mês",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 1 * *" }]
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Buscar Integrações Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "https://tfzjyttvymojsgvifxlk.supabase.co/rest/v1/client_integrations?select=client_id,instagram_user_id,instagram_access_token&instagram_user_id=not.is.null",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$credentials.value}}" },
            { "name": "Authorization", "value": "=Bearer {{$credentials.value}}" }
          ]
        }
      },
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-key", "name": "Supabase Service Key" } }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Loop por Cliente",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Calcular Mês Anterior",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const now = new Date();\nconst ano = now.getMonth() === 0 ? now.getFullYear() - 1 : now.getFullYear();\nconst mes = now.getMonth() === 0 ? 12 : now.getMonth();\nconst start = new Date(ano, mes - 1, 1);\nconst end = new Date(ano, mes, 0);\nreturn [{\n  json: {\n    ...items[0].json,\n    mes,\n    ano,\n    since: Math.floor(start.getTime() / 1000),\n    until: Math.floor(end.getTime() / 1000)\n  }\n}];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Instagram Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/{{$json.instagram_user_id}}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "metric", "value": "reach,impressions,profile_views,follower_count" },
            { "name": "period", "value": "month" },
            { "name": "since", "value": "={{$json.since}}" },
            { "name": "until", "value": "={{$json.until}}" },
            { "name": "access_token", "value": "={{$json.instagram_access_token}}" }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Instagram Perfil",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 420],
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/{{$('Loop por Cliente').first().json.instagram_user_id}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "followers_count,media_count" },
            { "name": "access_token", "value": "={{$('Loop por Cliente').first().json.instagram_access_token}}" }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Consolidar Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const base = $('Calcular Mês Anterior').first().json;\nconst insightsData = $('Instagram Insights').first().json.data || [];\nconst perfil = $('Instagram Perfil').first().json;\n\nconst metric = name => {\n  const m = insightsData.find(d => d.name === name);\n  return m?.values?.[0]?.value || null;\n};\n\nconst seguidores = perfil.followers_count || null;\nconst posts = perfil.media_count || null;\nconst alcance = metric('reach');\nconst impressoes = metric('impressions');\nconst visitas_perfil = metric('profile_views');\n\nreturn [{\n  json: {\n    client_id: base.client_id,\n    mes: base.mes,\n    ano: base.ano,\n    seguidores,\n    posts,\n    alcance,\n    impressoes,\n    visitas_perfil,\n    novos_seguidores: null,\n    curtidas: null,\n    comentarios: null,\n    salvamentos: null,\n    taxa_engajamento: null\n  }\n}];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000008",
      "name": "Upsert metrics_instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "https://tfzjyttvymojsgvifxlk.supabase.co/rest/v1/metrics_instagram",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$credentials.value}}" },
            { "name": "Authorization", "value": "=Bearer {{$credentials.value}}" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{JSON.stringify($json)}}"
      },
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-key", "name": "Supabase Service Key" } }
    }
  ],
  "connections": {
    "Dia 1 do Mês": { "main": [[{ "node": "Buscar Integrações Instagram", "type": "main", "index": 0 }]] },
    "Buscar Integrações Instagram": { "main": [[{ "node": "Loop por Cliente", "type": "main", "index": 0 }]] },
    "Loop por Cliente": { "main": [[{ "node": "Calcular Mês Anterior", "type": "main", "index": 0 }]] },
    "Calcular Mês Anterior": {
      "main": [[
        { "node": "Instagram Insights", "type": "main", "index": 0 },
        { "node": "Instagram Perfil", "type": "main", "index": 0 }
      ]]
    },
    "Instagram Insights": { "main": [[{ "node": "Consolidar Instagram", "type": "main", "index": 0 }]] },
    "Instagram Perfil": { "main": [[{ "node": "Consolidar Instagram", "type": "main", "index": 1 }]] },
    "Consolidar Instagram": { "main": [[{ "node": "Upsert metrics_instagram", "type": "main", "index": 0 }]] },
    "Upsert metrics_instagram": { "main": [[{ "node": "Loop por Cliente", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
